.forecast{
    width: 422px;
    background-color: #34495e;
    padding: 15px;
    background: linear-gradient(0, #34495e 30%, antiquewhite);
    border-radius: 5px;
  }
  
  .forecast .city {
    font-size: 26px;
    color:antiquewhite;
    margin-bottom: 7px;
    font-weight: bold;
    text-align: center
  }

  .day{
    font-size:20px ;
   color: beige ;
  }
  .weather1{
    /* height:"40px";
     width:"40px"; */
     /* text-align: center; */
     font-size: 15px;
     color: aqua;
  }